html{


background: #ff6e7f; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ff6e7f , #bfe9ff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ff6e7f , #bfe9ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       

padding-left: 10%;
padding-right: 10%;
width: 80%;
        
}


.header{
	font-family: 'Roboto', sans-serif;
	color: white;
	width: 100%;
	text-align: center;

}

.text{

	font-family: 'Open Sans', sans-serif;
	color: white;
}

a{
	position: fixed;
	left: 15px;
	top: 10px;
	font-family: 'Roboto', sans-serif;
	text-align:center;
	color: white;
}